# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: nguyen-ingress
#   namespace: model-serving

# spec:
#   ingressClassName: nginx
#   rules:
#   - host: 34.87.54.108.nip.io
#     http:
#       paths:
#       - path: /  
#         pathType: Prefix
#         backend:
#           service:
#             name: loan-prediction-service
#             port:
#               number: 80


apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nguyen-ingress
  namespace: model-serving
  # --- THÊM PHẦN ANNOTATIONS NÀY ---
  annotations:
    kubernetes.io/ingress.class: nginx
    # Bật tính năng CORS
    nginx.ingress.kubernetes.io/enable-cors: "true"
    # Cho phép tất cả các nguồn (bao gồm localhost)
    nginx.ingress.kubernetes.io/cors-allow-origin: "*"
    # Cho phép các method cần thiết
    nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS"
    # Cho phép các headers cần thiết (quan trọng là Content-Type)
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization"
  # ---------------------------------

spec:
  ingressClassName: nginx
  rules:
  - host: 34.87.54.108.nip.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: loan-prediction-service
            port:
              number: 80